<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>

		<!-- Title -->
		<title>Qidirish | SUSYS ACADEMY - Biz bilan o'zingizni yanada rivojlantiring</title>

		<!-- Meta -->
		<meta charset="utf-8">
		<meta name="description" content="SUSYS ACADEMY- Biz bilan o'zingizni yanada rivojlantiring">
		<meta name="author" content="www.subux.uz">

		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Google fonts (https://www.google.com/fonts) -->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet"> <!-- Body font -->
		<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap" rel="stylesheet"> <!-- Secondary/Alter font -->

		<!-- Libs and Plugins CSS -->
		<link rel="stylesheet" href="{% static 'assets/vendor/normalize/normalize.min.css' %}"> <!-- Normalize CSS (https://necolas.github.io/normalize.css/) -->
		<link rel="stylesheet" href="{% static 'assets/vendor/fontawesome/css/fontawesome-all.min.css' %}"> <!-- Font Icons CSS (https://fontawesome.com) Free version! -->
		<link rel="stylesheet" href="{% static 'assets/vendor/swiper/css/swiper-bundle.min.css' %}"> <!-- Swiper CSS (https://swiperjs.com/) -->
		<link rel="stylesheet" href="{% static 'assets/vendor/lightgallery/css/lightgallery.min.css' %}"> <!-- lightGallery CSS (http://sachinchoolur.github.io/lightGallery) -->

		<!-- Template master CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/helper.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/theme.css' %}">

	</head>

	<body id="body" class="tt-transition tt-boxed tt-smooth-scroll tt-magic-cursor">


        {% block content %}

        {% endblock content%}



    		
		<script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>

		<script src="{% static 'assets/vendor/gsap/gsap.min.js' %}"></script> 
		<script src="{% static 'assets/vendor/gsap/ScrollToPlugin.min.js' %}"></script>
		<script src="{% static 'assets/vendor/gsap/ScrollTrigger.min.js' %}"></script> 

		<script src="{% static 'assets/vendor/smooth-scrollbar.js' %}"></script>
		<script src="{% static 'assets/vendor/swiper/js/swiper-bundle.min.js' %}"></script> 
		<script src="{% static 'assets/vendor/isotope/imagesloaded.pkgd.min.js' %}"></script> 
		<script src="{% static 'assets/vendor/isotope/isotope.pkgd.min.js' %}"></script>
		<script src="{% static 'assets/vendor/isotope/packery-mode.pkgd.min.js' %}"></script> 
		<script src="{% static 'assets/vendor/lightgallery/js/lightgallery-all.min.js' %}"></script> 
		<script src="{% static 'assets/vendor/jquery.mousewheel.min.js' %}"></script> 
		<script src="{% static 'assets/js/theme.js' %}"></script>

	</body>

</html>